.fundo {
  background-image: url('../../../public/fundo2.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 100vh;
  position: fixed;
  margin: 0 50%;
  inset: 0;
  transform: translateX(-50%);
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.btn {
  background-color: #8e7841;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
