.fundo {
    background-image: url('../../public/fundo.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 100vh;
    position: fixed;
    inset: 0;
}

.content {
    position: relative;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title-name {
    font-family: 'DreamAvenue';
    font-size: 40pt;
    color: #8e7841;
}

.descricao {
    font-family: 'Montserrat';
    text-align: center;
    padding: 0 64px;
    color: #6a4d25;
    font-size: 12px;
}


.linha {
    width: 100px;
    margin: 10px 0;
}

.data-evento {
    font-family: 'Montserrat';
    border: 1px solid #c8a97c;
    border-radius: 16px;
    padding: 4px 36px;
    margin-top: 36px;
}

.options {
    padding: 16px 102px;

    .content-options {
        display: flex;
        justify-content: space-between;

        .circle-info {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-image: url('../../public/base.png');
            background-repeat: no-repeat;

            &.c1 {
                background-position: -90px -386px;
                background-size: 326px;
            }

            &.c2 {
                background-position: -171px -382px;
                background-size: 326px;
            }
        }
    }
}

.footer-info {
    font-family: 'Montserrat';
    font-size: 11px;
}