<div class="fundo"></div>

<div class="content">
  <div class="title-name" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">Anna</div>
  <div class="linha" data-aos="fade-in" data-aos-duration="500" data-aos-delay="300">
    <hr>
  </div>
  <div class="descricao" data-aos="fade-in" data-aos-duration="500" data-aos-delay="400">
    Carinhosamente convida <br> para o seu aniversário
    <br><br>
    Sua presença nesse <br>momento tão especial será <br> uma grande honra!
  </div>
  <div class="data-evento" data-aos="fade-in" data-aos-duration="500" data-aos-delay="500">
    25 de maio às 10h
  </div>
  <div class="options" data-aos="fade-in" data-aos-duration="500" data-aos-delay="600">
    <div class="content-options">
      <a href="https://maps.app.goo.gl/mweUWNwvhHmvNgMT7" target="_blank" class="circle-info c1"></a>
      <div class="circle-info c2" [routerLink]="['/gift-list']"></div>
    </div>

    <div class="footer-info">Clique nos ícones para acessar</div>
  </div>
</div>
