<div class="fundo"></div>

<div class="content">
  <div class="title-header" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">sugestões de</div>
  <div class="title-name" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">Presentes</div>

  <div class="descricao" data-aos="fade-in" data-aos-duration="500" data-aos-delay="400">
    1. Blusas: P <br>
    2. Calças ou bermudas: 34 <br>
    3. Calçados: 36/37 <br>
    4. Maquiagem <br>
    5. Jóia ( preferência dourado ) <br>
    6. Bolsa <br>
    7. Perfumes
  </div>
  <div class="footer-info" data-aos="fade-in" data-aos-duration="500" data-aos-delay="500">
    O melhor presente é aquele que é dado de coração
  </div>

  <img src="AB2.png" alt="" style="width: 140px; padding-top: 36px"  data-aos="fade-in" data-aos-duration="500" data-aos-delay="600">
</div>
